:root{
    --cor-principal: #17579b;
    --cor-secundaria:  #213ebf;
    --branco: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/*
font-family: 'Lekton', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 4rem;
}

h4{
    font-size: 3.5rem;
}

.background-main{
    background-image: url(../Imgs/sun-tornado.svg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    color: var(--branco);

}

.white-bg{
    background-color: var(--branco);
    color: var(--cor-principal);
}

a{
    font-family: 'Lekton', sans-serif;
}

.aviso{
    position: fixed;
    margin-left: 22rem;
    top: 15rem;
    width: 75%;
    z-index: 1;
}

.aviso-content{
    display: flex;
    position: relative;
    flex-flow: column wrap ;
    min-height: 75vh;

    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.99);

}

.aviso-texto p{
    margin-top: 1.3rem;
    font-size: 1.6rem;
}

.aviso-btn{
    margin-top: 12rem;
    width: 5%;
    height: 2.5rem;
    transition: all 200ms ease-in-out;
    background: none;
    cursor: pointer;
    color: var(--cor-principal);
    border: 0.1rem solid var(--cor-principal);
}

.aviso-btn:hover{
    background-color: var(--cor-principal);
    color: var(--branco);
    border: 0.1rem solid var(--branco);

}

.general-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem;
    gap: 3rem;
}

.section{
    min-height: 100vh;
}

.menu{
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--cor-secundaria);
    z-index: 1;
}

.menu-content{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-logo {
 display: flex;
 align-items: center;
}

.menu-logo a{
    font-size: 1rem;
}

.menu-logo img{
    width: 13.3188rem;
}


.menu-content ul{
    display: flex;
    list-style: none;
}

.menu-content ul li a{
    display: block;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.8rem;
    position: relative;
    color: var(--cor-principal)
}

.menu-content ul li a::after{
    content: ' ';
    position: absolute;
    bottom: 1.8rem;
    left: 25%;
    width: 0%;
    height: 0.15rem;
    background-color: var(--cor-secundaria);  
    transition: all 360ms ease-in-out; 
}

.menu-content ul li a:hover::after{
    width: 50%;
    height: 0.25rem;
}

.space-between{
    height: 5rem;
}

.video-main{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}

.video-content{
    position: relative;
}

.video-content h2{
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: justify;
   
}

.video-content video{
    max-width: 100%;
    max-height: 52rem;
    transition: all 400ms ease-in-out;
}

.video-content video:hover{
    border: 0.1rem solid var(--branco);
    max-width: 110%;
}

.video-content video:fullscreen{
    border: none;
}

.white-bg video:hover{
    border: 0.1rem solid var(--cor-principal);
    max-width: 105%;
}

.white-bg video:fullscreen{
    border: none;
}

.link-videos{
    margin-top: 0.5rem;
    color: var(--branco);   
    text-decoration: none;
    font-size: 1.6rem;
    display: none;
}

.link-videos:hover{
    text-decoration: underline;
}

.white-bg .link-videos{
    color: var(--cor-principal);
}

.sobre-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.sobre{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem;
}

.sobre-texto p{
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 1rem;
}

.sobre-img img{
    margin-top: 8rem;
    max-width: 100%;
    height: auto;
    border-radius: 1.2rem;
    border: 0.3rem solid var(--branco);
}


.footer{
    height: 4rem;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.footer-imgs img{
   padding: 1rem;
   transition: all 300ms ease-in-out;
}

.footer-imgs img:hover{
    transform: rotate(-5deg);
    width: 4.6rem;
    height: 4.6rem;
 }

.footer-texto p{
    font-size: 1.6rem;
    font-family: 'Lekton', sans-serif;
}









